@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.menuBox {
    width: 100vw;
    display: flex;
    direction: rtl;
    background-color: aquamarine;
}

.daysSection {
    width: 72%;
}

.day {
    width: 100%;
    background: linear-gradient(222deg,
            rgba(177, 239, 239, 0.9),
            rgba(102, 222, 222, 0.9),
            rgba(57, 172, 172, 0.9));
    color: rgba(1, 13, 44, 0.9);
    border-bottom: 1vh double rgb(236, 253, 254);
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.day:hover {
    color: aliceblue;
    background: radial-gradient(rgba(4, 64, 94, 0.9),
            rgba(41, 200, 200, 0.9),
            rgba(175, 251, 251, 0.9));
}

.foodSection {
    width: 78%;
}

.dayFoods {
    display: flex;
    background: linear-gradient(44deg,
            rgb(214, 242, 241),
            rgba(205, 211, 239, 0.9));
    height: 33vh;
    border-bottom: 1vh double rgb(236, 253, 254);
    padding: 1vh 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.foodBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1vh;
    height: 100%;
    cursor: pointer;
}

.foodBox:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.foodImage {
    border: 0.3vh rgb(133, 224, 254) ridge;
    width: 25vh;
    height: 77%;
}

.price,
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(229deg,
            rgb(145, 220, 215),
            rgb(245, 245, 214),
            rgb(133, 224, 254));
    height: 10%;
}

.buttonBox,
.inBasketBox {
    position: absolute;
    z-index: 2;
    margin-top: 11vh;
    margin-right: 2vh;
    background-color: rgba(240, 248, 255, 0.222);
    width: 21vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inBasketIcon {
    background-color: rgb(245, 245, 214);
    border-radius: 4vh;
    padding: 1vh;
    border: dashed 0.3vh rgb(133, 224, 254);
}





/* Admin Styles */
.addNewIcon {
    background-color: rgb(247, 251, 255);
    color: rgb(18, 88, 39);
    border-radius: 4vh;
    padding: 0.5vh;
    font-size: 5vh;
}





.foodDetailsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(97, 178, 245, 0.9),
            rgba(125, 198, 222, 0.9));
    border: rgba(153, 252, 252, 0.9) 0.7vh ridge;
    border-radius: 1vh;
    position: fixed;
    width: 30vw;
    height: 55vh;
    top: 20vh;
    left: 30vw;
}

.foodDetailRow {
    font-size: 2vh;
    display: flex;
    background: linear-gradient(44deg,
            rgba(70, 168, 167, 0.9),
            rgba(34, 102, 166, 0.9));
    margin: 1vh;
    padding: 2vh 4vh;
    border-radius: 0.5vh;
    box-shadow: 1px 1px 1vh 3px rgba(177, 239, 239, 0.9) inset;
    animation: rotate 1s;
}

.foodDetailRow:hover {
    transform: scaleX(1.1);
}

.foodDetailRow label {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 2, 42);
    padding: 1vh 2vh;
    border: 0.2vh dashed rgb(18, 88, 39);
    border-left: none;
}

.foodDetailRow input {
    padding: 1vh;
    outline: none;
    border: dashed 0.2vh;
    border-right: none;
    border-radius: 1vh 0 0 1vh;
}

.foodDetailRow input[type="file"] {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
}

.closeFoodBoxIcon {
    width: 6vh;
    height: 6vh;
    padding: .6vh;
    background-color: white;
    border: .7vh double rgb(220, 124, 28);
    color: rgb(185, 23, 23);
    border-radius: 12vh;
    font-size: 4vh;
    margin: 1vh;
    cursor: pointer;
}

.submitIcon {
    width: 7vh;
    height: 7vh;
    padding: 1vh;
    border: ridge .4vh rgb(17, 145, 17);
    border-radius: 7vh;
    color: rgb(17, 145, 17);
    background-color: white;
    cursor: pointer;
}

.closeFoodBoxIcon:hover,
.submitIcon:hover {
    background-color: rgb(248, 234, 153);
    animation: rotate 1s 2;
}

@media(max-width:777px) {
    .foodDetailsBox {
        width: 80vw;
        left: 10vw;

    }
}